<h3>More Listings By
  <span class="text-success"><%= @listing.user.name.split(" ").first %></span>
</h3>

<div class="row mt-4 mb-5">
  <% @user_listings.each do |user_listing| %>
  <div class="col-md-6">
    <div class="card mb-2 shadow-sm">
      <% if user_listing.image.attached? %>
      <%= cl_image_tag(user_listing.image.key, options = {class: 'img-fluid'}) %>
      <% end %>
      <div class="card-body d-flex align-items-center justify-content-between">
        <div>
          <h5 class="card-title m-0">
            <%= user_listing.title %>
          </h5>
        </div>
        <%= link_to 'View Listing', user_listing, class: "btn btn-success text-center" %>
      </div>
    </div>
  </div>
  <% end %>
</div>